#include <windows.h>
#include "menu.h"

ID_ICON ICON "icon.ico"
IDR_MYMENU MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&Restart", ID_RESTART, GRAYED
        MENUITEM "&Settings", ID_IN_GAME_SETTINGS, GRAYED
        MENUITEM "&Exit to main menu", ID_EXIT_TO_MAIN_MENU, GRAYED
    END

END

MYDIALOG DIALOG 50, 50, 100, 100
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
CAPTION "Settings"
{
    LTEXT "Background color:", TEXT_FIELD, 5, 5, 130, 10
    DEFPUSHBUTTON "&Ok", DIALOG_BUTTON, 5, 80, 60, 15, WS_TABSTOP
}

SETTINGSDIALOG DIALOG 150, 80, 100, 100
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
CAPTION "Settings"
{
    LTEXT "Difficulty:", TEXT_FIELD, 5, 5, 130, 10
    AUTORADIOBUTTON "&Easy", SETTINGS_RADIO1, 10, 22, 100, 20, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "&Medium", SETTINGS_RADIO2, 10, 38, 100, 20, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE
    AUTORADIOBUTTON "&Hard", SETTINGS_RADIO3, 10, 54, 100, 20, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE
    DEFPUSHBUTTON "&Ok", DIALOG_BUTTON2, 5, 80, 60, 15, WS_TABSTOP

}
